@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap");

:root {
  /* Mafiya colors: */
  /* --bg: #000102;
  --bg-card-1: #161520;
  --bg-card-2: #121922;
  --text-1: #abc7ff; */

  /* Medcity colors:  */
  --primary-light: #788fc8;
  --primary-main: #283b6a;
  --primary-dark: #0e204d;
  --secondary-light: #21cdc0;
  --Montserrat: " Montserrat ", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  color: white;
  background-color: var(--bg);
}
